<style>

body {
background-image: url('https://1s5vks3w34e13t8fkw1i7mk6-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/564-p6-tackle-pic.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
background-color: #464646;
}




</style>

<!-- Main jumbotron for a primary marketing message or call to action -->
<h1>Welcome <%= current_user.name %></h1>
<h1>Welcome <%= current_user.name %></h1>
<h1>Welcome <%= current_user.name %></h1>
<h1>Welcome <%= current_user.name %></h1>
<h1>Welcome <%= current_user.name %></h1>
  <div class="jumbotron">
    <div class="container">
       <% if Helpers.is_logged_in?(session) %>

      <% if @player.size > 0 %>
      <center><h2 class="display-5">Your Current Player Roster:</h2><br></center>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Caps</th>
          <th scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
        <% @player.each do |player| %>
        <tr>
          <th scope="row"><%= player.id %></th>
          <td><%= player.name %></td>
          <td><%= player.position %></td>
          <td><%= player.caps %></td>
          <td><a class="btn btn-primary" href="/players/show/<%=player.id%>" role="button">View</a> - <a class="btn btn-primary" href="/players/edit/<%=player.id%>" role="button">Edit</a></td>
        </tr>
        <% end %>

      </tbody>
    </table>
    <% else %>
    <center><h2 class="display-5">You have no players on your roster.</h2><br></center>
    <% end %>
      <% else %>
      <center><p><a class="btn btn-primary btn-lg" href="/sessions/login" role="button">Login</a> <a class="btn btn-primary btn-lg" href="/registrations/signup" role="button">Signup</a></p></center>
      <% end %>

      <p></p>
    </div>
  </div>





    <hr>

  </div> <!-- /container -->
